
@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-Bold.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-Regular.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-Regular.woff2") format("woff2");
}

