
@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-Bold.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-BoldItalic.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-Italic.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-Light.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-LightItalic.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Maple Mono SC NF";
    src: 
        url("./maple_mono_sc_nf/woff/MapleMono-SC-NF-Regular.woff") format("woff"), 
        url("./maple_mono_sc_nf/woff2/MapleMono-SC-NF-Regular.woff2") format("woff2");
}

