

@font-face {
    font-family: Comfortaa;
    src: url("fonts/comfortaa/Comfortaa-Regular-1.ttf") format("woff"),
        url("fonts/comfortaa/Comfortaa-Regular-1.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url("fonts/comfortaa/Comfortaa-Light-3.ttf") format("woff"),
        url("fonts/comfortaa/Comfortaa-Light-3.ttf") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url("fonts/comfortaa/Comfortaa-Bold-2.ttf") format("woff"),
        url("fonts/comfortaa/Comfortaa-Bold-2.ttf") format("woff2");
    font-weight: 700;
    font-style: normal;
}